@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");

body {
	font-family: "Raleway", sans-serif;
	/* font-size: 1.2em; */
  color: #b3b3b3;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000b28;
}
a {
  transition: all 0.3s ease;
  color: #5044f8;
}

a:hover,
a:focus {
  text-decoration: none;
  color: rgb(34, 22, 201);
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 32px;
}

.btn:hover {
  background-color: #ced4da;
}

blockquote {
  font-size: 0.86em;
  line-height: 1.8em;
}

.tm-section-pad-top {
  padding-top: 40px;
  padding-bottom: 40px;
}

.tm-content-box {
  padding-top: 20px;
  padding-bottom: 40px;
}

.tm-text-primary {
  color: rgb(236, 235, 235);
}

.tm-font-big {
  font-size: 1.25rem;
}

.tm-btn-primary {
  color: white;
  background-color: #369;
  padding: 14px 30px;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  color: white;
  background-color: #38B;
}

/* Navbar */

.tm-navbar {
  box-shadow: black 0px 0px 20px 0px;
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: #00000023;
  transition: all 0.3s ease;
  backdrop-filter: blur(15px);
}

.tm-navbar a {
  color: rgb(180, 180, 180);
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.28, 1.4);
}
.tm-navbar a:hover {
  color: rgb(255, 255, 255);
}

.tm-navbar.scroll {
  background-color: #00294400;
}

.navbar-brand {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-brand:hover,
.tm-navbar.scroll .navbar-brand:hover {
  color: white;
}

.tm-navbar.scroll .navbar-brand {
  color: white;
}

.nav-item {
  list-style: none;
}

.tm-nav-link {
  color: white;
}

.tm-navbar.scroll .tm-nav-link {
  color: rgb(190, 190, 190);
}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #FFF;
}

.navbar-toggler {
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  color: white;
  padding-top: 6px;
}

.tm-navbar.scroll .navbar-toggler {
  border: 1px solid #707070;
}

.tm-navbar.scroll .navbar-toggler-icon {
  color: #707070;
}

/* Hero */

#home {
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 375px;
  position: relative;
}

@media (min-height: 600px) and (min-width: 1920px) {
  #home {
    background-size: cover;
  }
}

@media (min-height: 830px) {
  #home {
    background-position: center -210px;
  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #home {
    background-position: center -300px;
  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #home {
    background-position: center -400px;
  }
}

@media (max-height: 499px) {
  #home {
    background-position: center -450px;
  }
}

.tm-hero-text-container {
  width: 100%;
  height: 106%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tm-hero-text-container-inner {
  margin-top: -90px;
}

.tm-hero-title {
  font-size: 3.5rem;
}

.tm-hero-subtitle {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  .tm-hero-subtitle {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.tm-intro-next {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  }

  .tm-intro-next {
    bottom: 20px;
  }
}

.tm-down-arrow-link {
  display: block;
  margin-top: 18%;
}

.tm-down-arrow {
  	color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tm-down-arrow:hover,
.tm-down-arrow:focus {
  color: rgb(177, 177, 177);
  transform: translateY(12px);
}

/* Introduction */

#introduction {
  padding-bottom: 100px;
}

.tm-section-title {
  padding-top: 65px;
  font-size: 2.6rem;
  font-weight: normal;
}

.tm-intro-text {
  font-size: 1.2rem;
}

.tm-icon {
  position: absolute;
  display: block;
  color: rgb(90, 0, 192);
  transition: all .3s ease-in-out;
}

.tm-icon:hover {
  position: absolute;
  display: block;
  color: rgb(64, 0, 138);
}

.tm-continue {
	padding: 20px 0 30px 0;
}

/* reviews */
#reviews {
  color: white;
  /* background-image: url(../img/koks2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%; */
  background: url(../img/koks2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 991px) {
  #reviews {
    background-image: url(../img/koks2.jpg);
  }
}

.tm-reviews-content {
  position: relative;
  z-index: 100;
}

.tm-bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.tm-reviews-carousel {
  max-width: 1050px;
  margin: 0 auto;
}

.tm-testimonial-item {
  padding-top: 5px;
  max-width: 290px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.63, 0.04, 0.41, 1);
}

.tm-testimonial-item:hover {
  transform: scale(1.05);

}

.tm-testimonial-item img {
  border-radius: 50%;
  margin-bottom: 35px;
}

.tm-testimonial-item figcaption {
  text-align: center;
  font-size: 1.1rem;
}
.tm-testimonial-item figcaptionallah {
  text-align: center;
  font-size: .8rem;
  color: rgb(224, 224, 224);
}

/* Work */

.tm-section-desc {
  max-width: 650px;
  width: 70%;
  font-size: 0.9rem;
}

.tm-gallery-container {
  padding-top: 70px;
  padding-bottom: 120px;
}

.tm-gallery-item {
  margin: 0 15px;
}

.slick-dots {
  bottom: -65px;
}

.slick-dots li {
  margin: 0 13px;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #3ba0dd;
}

.tm-reviews-carousel .slick-dots li button:before {
  color: white;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.tm-reviews-carousel .slick-dots li button:hover:before,
.tm-reviews-carousel .slick-dots li button:focus:before,
.tm-reviews-carousel .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 18px;
}

/* Hover Effect */
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-size: 0.9em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 600;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect-honey {
  background: #4a3753;
  max-width: 220px;
}

figure.effect-honey img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-honey:hover img {
  opacity: 0.4;
}

figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #38C;
  content: "";
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-honey h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey h2 i {
  font-style: normal;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tm-container-gallery {
	padding-top: 30px;
	}

/* Contact */

#contact {
  color: white;
  background-color: #001828;
  background-image: url(/img/kokain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 980px;
  position: relative;
  padding-bottom: 50px;
  padding-top: 100px;
}

.contact-item {
  margin-left: 20px;
  margin-bottom: 50px;
}

.item-link {
  display: flex;
  align-items: center;
}

.item-link i,
.item-link span {
  color: white;
  transition: all 0.3s ease;
}

.item-link:hover i,
.item-link:hover span {
  color: #3496d8;
}

.tm-input {
	margin: 0 0 20px 0;
	width: 90%;
  padding: 8px 20px;
  border-radius: 6px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

.tm-btn-submit {
	font-size: 0.9em;
	color: #fff;
	background-color: #369;
	width: 50%;
	margin-bottom: 60px;
}

.tm-btn-submit:hover {
	color: #fff;
	background-color: #38B;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

/* .tm-footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.tm-footer a {
	color: rgb(90, 0, 192);
}

.tm-footer a:hover {
	color: rgb(64, 0, 138);
}

.tm-footer-link {
  color: white;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #38B;
  text-decoration: none;
} */

p {
  line-height: 1.9;
}

@media (min-width: 768px) {
  .tm-intro-text-container {
    padding-left: 0px;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
  }

  .tm-container-gallery {
    max-width: 1290px;
  }

  .tm-container-contact {
    max-width: 1063px;
  }
}

@media (max-width: 991px) {
  .tm-intro-text-container {
    padding-bottom: 25px;
    /* padding-left: 15px; */
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-btn-submit {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {

  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: #000b2800;
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: #707070;
	padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .tm-gallery-container {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-gallery-container-2 {
    max-width: 350px;
  }

  .slick-dots li {
    margin: 0 8px;
  }

  .tm-gallery-item {
    margin: 0;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 100px;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.preloader img {
  border-radius: 50rem;
}

.hidden {
  opacity: 0;
  display: none;
}

.spin {
  animation: spin 1s cubic-bezier(0.42, 0, 0.16, 1.01) infinite;
}

.expand-fade-out {
  animation: expand .7s ease-out;
}


.loader{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 1s cubic-bezier(0.42, 0, 0.16, 1.01) infinite;
}

.disppear{
  animation: expand-fade-out 0.7s forwards;
}

@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.contactding {
  color: #b19cff;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.contactding a {
  color: #b19cff;
}

.contactding:hover {
  color: #8867ff;
}

.back-arrow {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 20px;
  color: #fff;
  padding: 10px 15px;
  font-size: 1.2rem;
  transition: .3s cubic-bezier(0.42, 0, 0.16, 1.01);
  z-index: 999;
  border-radius: 15px;
  border: 2px solid #fff;
  background-color: rgba(0, 11, 40, 0.39);
  backdrop-filter: blur(5px);
}

.back-arrow:hover {
  transform: scale(1.05);
  color: #a28aff;
  border: 2px solid #a28aff;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  /* Show the back arrow on desktop devices with a minimum width of 768px */
  .back-arrow {
    display: block;
  }
}